@charset "UTF-8";
table{
    border-collapse: separate;
    border-spacing: 20px;
}
span{
    margin: 5px;
}
#navHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#menu >button{
    margin: 5px;
    border-radius: 10px;
}
.btnArea >button:hover{
    background-color: greenyellow;
}
.txtCenter{
    text-align: center;
}
.margin10px{
    margin: 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hidden{
    display: none;
}
.blockFormulario{
    display: block;
    margin: 5px;
}